
.horizontal-scroll-container {
  /*width: 100%;*/
  overflow-x: auto;
  /* white-space: nowrap;*/
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 60px; /* Adjust the margin as needed */
}

/*.card {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 20px;
  border: 1px solid #ddd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  box-sizing: border-box;
}*/
.card {
  flex: 0 0 auto;
  text-align: center;
  width: 15rem; /* can switch it up to 15% and min-width*/
  margin-right: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px; /* Adjust the value as needed */
}

.card img {
  max-width: 80%;
  margin: 5px auto; /* Center the image horizontally */
  height: auto;
  border: 5px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Adjust the value as needed */
}
.card-title {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: normal;
}
.browse-button {
  background-color: #ffe8a3;
  color: #333;
  padding: 5px 40px; /* Adjust the padding for size */
  border: none;
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.tags {
  display: flex;
  flex-wrap: wrap; /* Allow tags to wrap to the next row */
  margin-top: 5px;
}
.tag {
  background-color: white;
  border: 1px solid #000;
  padding: 5px;
  margin-right: 5px;
  font-size: 12px;
  color: black;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
}
