{% extends 'NavBar.html' %}

{% block head %}
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img alt="Album" class="img-fluid mb-3" src="{{ album['album']['photo_album'] }}">
        </div>
        <div class="col-md-8">
            <h2>{{ album['album']['titre'] }}</h2>
            <a class="text-dark" href="{{ url_for('artiste', artiste_nom=album['artiste']['nom_artiste']) }}"><p>{{
                album['artiste']['nom_artiste'] }}</p></a>

            <button class="btn btn-outline-secondary" disabled>#{{ album['style'] }}</button>
            <div>
                <span>Duree : </span><span
                    class="album-duration">{{ album['album']['duree'] }}</span><span> minutes</span>
            </div>
            <div>
                <span>Annee parution : </span><span>{{ album['album']['annee_parution'] }}</span>
            </div>
            {% if album and album['album']['noteglobal'] %}
            <div class="star-rating">
                {% for i in range(1, 6) %}
                {% if i <= album['album']['noteglobal'] %}
                <span class="fas fa-star checked"></span>
                {% else %}
                <span class="far fa-star"></span>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <form action="/buyAlbum" method="post">
                <input name="buyAlbumId" type="hidden" value="{{ album['album']['id_produit'] }}">
                <button class="btn btn-primary"><i class="fas fa-dollar-sign"></i> Buy now</button>
            </form>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary mt-3">Suivre artiste</a>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-success mt-3" href="https://www.spotify.com"><i class="fa fa-play-circle"></i>Play
                    on Spotify</a>
            </div>
            <div class="row">
                <div class="col-6">
                    <ol class="list-group list-group-numbered list-group-flush mt-3">
                        {% if album['chansons'] %}
                        {% for chanson in album['chansons'] %}
                        <li class="list-group-item">{{ chanson['titre'] }}</li>
                        {% endfor %}
                        {% endif %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">

</script>
<script src="../static/FormatDuration.js"></script>

{% endblock %}
