{% extends 'NavBar.html' %}
{% block head %}
    <link href="{{ url_for('static', filename='/album.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='/cards.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <!-- Row albums populaires -->
    <h3>Top Rated Albums</h3>
    <div class="horizontal-scroll-container">
        {% for album in rowsAlbum %}
            <a href="{{ url_for('album', album_titre=album.titre, id_artiste=album.id_artiste) }}">
                <div class="card">
                    <img src="{{ album.photo_album }}" alt="Card 1 Image">
                    <h4 class="card-title">{{ album.titre }} </h4>
                    <div class="tags">
                        <div class="tag album-duration">{{album.duree}}</div>
                        <div class="tag">{{ album.annee_parution }}</div>
                        {% if album.noteglobal is none %}
                            <div class="tag">No Rating</div>
                        {% else %}
                            <div class="tag">{{ album.noteglobal }} Stars</div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <button class="browse-button">
        <a href="{{ url_for('albums') }}">Parcourir les albums</a>
    </button>

    <!-- Row artistes en tendance -->
    <h3>Most Followed Artists</h3>
    <div class="horizontal-scroll-container">
        {% for artiste in rowsArtistes %}
            <a href="{{ url_for('artiste', artiste_nom=artiste.nom_artiste) }}">
                <div class="card">
                    <img src="{{ artiste.photo_artiste}}" alt="Card 1 Image">
                    <h4 class="card-title">{{ artiste.nom_artiste }} </h4>
                    <div class="tags">
                        <div class="tag">{{ artiste.origine }}</div>
                        <div class="tag">{{ artiste.nombre_followers }} Followers</div>
                        <div class="tag">{{ artiste.nomUni['nom'] }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <button class="browse-button">
        <a href="{{ url_for('artistes') }}">Parcourir les artistes</a>
    </button>

    <!-- Row universite populaires -->
    <h3>Most Popular Universities</h3>
    <div class="horizontal-scroll-container">
        {% for uni in rowsUniversite %}
            <div class="card">
                <img src="{{ uni.photo_universite }}" alt="Card 1 Image">
                <h4 class="card-title">{{ uni.nom }} </h4>
                <div class="tags">
                    <div class="tag">{{ uni.nomRegion['nom'] }}</div>
                    <div class="tag">{{ uni.nombre_artistes }} Artists</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="browse-button">
        <a href="{{ url_for('universities') }}">Parcourir les universites</a>
    </button>

    <script>
</script>

<script src="../static/FormatDuration.js"></script>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="../static/FormatDuration.js"></script>
</body>
</html>