{% extends 'NavBar.html' %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="{{ url_for('static', filename='/style/ArtisteStyle.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='/style/test.css') }}" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="text-center">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} {{ 'alert-success' if category == 'success' else 'alert-danger' }}"
             role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h1>Produits</h1>


    <div class="container">
        <div class="row">

            {% for merch in merchs %}
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="card h-100 text-center ">
                    <img src="{{ merch['photo_merch'] }}" class="card-img-top p-2" style="height: 450px;"
                         alt="img{{ merch['nom_article'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ merch['nom_article'] }}</h5>
                        <p class="card-tag">{{ merch['taille'] }}</p>
                        <span class="color-circle"
                              style="background-color: #{{ merch['couleur'] }}; width: 30px; height: 30px"></span>
                    </div>
                    <div class="card-footer" style="background-color: #{{merch['couleur']}}">
                        {% if 'id' in session %}
                        <form action="/buyMerch" method="post">
                            <input type="hidden" name="buyMerchId" value="{{ merch['id_produit'] }}">
                            <button class="btn btn-primary"><i class="fas fa-dollar-sign"></i> {{ merch['prix']['prix'] }} - Acheter</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}
