<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARTUNE CONNECT</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
   <link href="{{ url_for('static', filename='/style/style.css') }}" rel="stylesheet">

    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <div class="navTop">
        <div class="navItem">
          <a href="{{url_for('main')}}">
            <img
              src="{{ url_for('static', filename='imgs/LogoArtTune.png') }}"
              width="106"
              height="64"
              alt="ArtTune Logo"
            />
          </a>
        </div>
        <div class="navItem">
          <div class="search">
            <input
              type="text"
              placeholder="Rechercher ici"
              class="searchInput"
            />
            <img
              src="{{ url_for('static', filename='imgs/Search.png') }}"
              width="20"
              height="20"
              alt=""
              class="searchIcon"
            />
          </div>
        </div>
        <div class="navItem">
            {% if 'loggedin' in session and session['loggedin'] %}
                <a href="{{url_for('userpage')}}">
                    <button id="btnProfil" class="btn btn-primary">Mon profile</button>
                </a>
                <a href="{{url_for('logout')}}">
                    <button id="btnDeconnexion" class="btn btn-danger">Déconnexion</button>
                </a>
            {% else %}
                <a href="{{url_for('login')}}">
                    <button id="btnConnexion" class="btn btn-primary">Connexion</button>
                </a>
                <a href="{{url_for('register')}}">
                    <button id="btnInscription" class="btn btn-secondary">Inscription</button>
                </a>
            {% endif %}
        </div>
      </div>

      <div class="navBottom">
        <h3 class="menuItem">
          <a href="{{ url_for ('artistes') }}">Artistes</a>
        </h3>
        <h3 class="menuItem"><a href="{{ url_for ('albums') }}">Albums</a></h3>
        <h3 class="menuItem">
          <a href="{{ url_for ('merchs') }}">Produits</a>
        </h3>
        <h3 class="menuItem">
          <a href="{{ url_for ('universities') }}">Universités</a>
        </h3>
      </div>
      <div class="banner">
        <div class="banner-text">
          <h1>Plongez dans l'harmonie de nos rythmes</h1>
          <h1>et laissez-vous emporter par la magie de la musique</h1>
        </div>
      </div>
    </nav>
    {%block content %}{% endblock %}
  </body>
</html>
