{% extends 'NavBar.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/style/Register.css') }}">
<script src="{{ url_for('static', filename='/JS/Auth.js') }}"></script>

        {% endblock %}
        {% block content %}
<div class="wrapper">
    <div class="form-left">
        <h2 class="text-uppercase">Returning User?</h2>
        <p>
            Click the button below to sign into your account
        </p>

        <div class="form-field">
            <input type="submit" class="account" value="Sign in" onclick="login()">
        </div>
    </div>
    <form class="form-right" action="{{url_for('register')}}" method="post">
        <h2 class="text-uppercase">Register now</h2>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>First Name</label>
                <input type="text" name="prenom" id="first_name" class="input-field">
            </div>
            <div class="col-sm-6 mb-3">
                <label>Last Name</label>
                <input type="text" name="nom" id="last_name" class="input-field">
            </div>
        </div>
        <div class="mb-3">
            <label>Your Email</label>
            <input type="email" class="input-field" name="email" required>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Password</label>
                <input type="password" name="password" id="pwd" class="input-field">
            </div>

            <div class="col-sm-6 mb-3">
                <label>Age</label>
                <input type="number" name="age" id="age" class="input-field">
            </div>
        </div>
        <div class="mb-3">
            <label>Social Media Link</label>
            <input type="url" class="input-field" id="social_link" name="lien_reseaux_sociaux">
        </div>
        <div class="mb-3">
            <label>Bio</label>
            <input type="text" class="input-field" id="bio" name="bio">
        </div>
        <div class="row">
                <label>Region</label>
                {% for region in regions %}
                    <div class="form-check">
                        <input type="radio" name="region_choice" id="region_{{ region }}" class="form-check-input" value="{{ region['id_region'] }}">
                        <label class="form-check-label" for="region_{{ region }}">{{ region['nom'] }}</label>
                    </div>
                {% endfor %}
        </div>
        <div class="mb-3" style='color: red'>
            {{msg}}
        </div>
        <div class="form-field">
            <input type="submit" value="Register" class="register" name="register">
        </div>
    </form>
</div>

{% endblock %}
