{% extends 'NavBar.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/style/Register.css') }}">
<link href="{{ url_for('static', filename='/style/test.css') }}" rel="stylesheet"/>
<script src="{{ url_for('static', filename='/JS/Auth.js') }}"></script>

        {% endblock %}
        {% block content %}
<div class="wrapper">
    <div class="form-left">
        <h2 class="text-uppercase">Vous avez déjà un compte?</h2>
        <p>
            Appuyez sur le bouton plus bas pour vous connecter
        </p>

        <div class="form-field">
            <input type="submit" class="account" value="Se connecter" onclick="login()">
        </div>
    </div>
    <form class="form-right" action="{{url_for('register')}}" method="post">
        <h2 class="text-uppercase">S'inscrire maintenant</h2>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Prénom</label>
                <input type="text" name="prenom" id="first_name" class="input-field" maxlength="32">
            </div>
            <div class="col-sm-6 mb-3">
                <label>Nom de famille</label>
                <input type="text" name="nom" id="last_name" class="input-field" maxlength="32">
            </div>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="input-field" name="email" maxlength="64" required>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Password</label>
                <input type="password" name="password" id="pwd" class="input-field" maxlength="64">
            </div>

            <div class="col-sm-6 mb-3">
                <label>Age</label>
                <input type="number" name="age" id="age" class="input-field" max="120" min="1">
            </div>
        </div>
        <div class="mb-3">
            <label>Lien réseaux sociaux</label>
            <input type="url" class="input-field" id="social_link" name="lien_reseaux_sociaux">
        </div>
        <div class="mb-3">
            <label>Bio</label>
            <input type="text" class="input-field" id="bio" name="bio" maxlength="100">
        </div>
        <div class="row">
                <label>Région</label>
                {% for region in regions %}
                    <div class="form-check">
                        <input type="radio" name="region_choice" id="region_{{ region }}" class="form-check-input" value="{{ region['id_region'] }}">
                        <label class="form-check-label" for="region_{{ region }}">{{ region['nom'] }}</label>
                    </div>
                {% endfor %}
        </div>
        <div class="mb-3" style='color: red'>
            {{msg}}
        </div>
        <div class="form-field">
            <input type="submit" value="S'inscrire" class="register" name="register">
        </div>
    </form>
</div>

{% endblock %}
