{% extends 'NavBar.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='Register.css') }}">
<script src="../static/Auth.js"></script>
        {% endblock %}
        {% block content %}
<div class="wrapper">
    <div class="form-left">
        <h2 class="text-uppercase">Informations</h2>
        <p>
            Info :)
        </p>
        <p class="text">
            <span>Encore de Infos</span>
            INFO ICI
        </p>
        <div class="form-field">
            <input type="submit" class="account" value="Have an Account?" onclick="login()">
        </div>
    </div>
    <form class="form-right" action="{{url_for('register')}}" method="post">
        <h2 class="text-uppercase">Register now</h2>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>First Name</label>
                <input type="text" name="prenom" id="first_name" class="input-field">
            </div>
            <div class="col-sm-6 mb-3">
                <label>Last Name</label>
                <input type="text" name="nom" id="last_name" class="input-field">
            </div>
        </div>
        <div class="mb-3">
            <label>Your Email</label>
            <input type="email" class="input-field" name="email" required>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label>Password</label>
                <input type="password" name="password" id="pwd" class="input-field">
            </div>
        </div>
        <div class="mb-3" style='color: red'>
            {{msg}}
        </div>
        <div class="form-field">
            <input type="submit" value="Register" class="register" name="register">
        </div>
    </form>
</div>

{% endblock %}
